:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 3rem;
  display: flex;
}

.brand{
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
}

.hub{
  color:yellow
}

.brand:hover{
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bigImage{
  width: 70%;
  height: 40%;
}

.featured{
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .movies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-content: space-between;
  }
}
